################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Riganti.Utils/Riganti.Utils.Testing
/.vs
