
    <div>
        <label>
            <input type="checkbox" checked ID="checkbox1" />
            Text
        </label>
        <label>
            <input type="checkbox"  ID="checkbox2" />
            text
        </label>
        <input type="text" ID="textbox1"/>
        <input type="radio"Id="RadioChecked" Checked/>
        <input type="radio" Id="RadioNotChecked"  />
        <span id="span1"></span>
    </div>