@model Riganti.Utils.Testing.Selenium.Core.Samples.New.Controllers.CookieModel
    <div>
        <span id="CookieIndicator">
            @Model.Text
        </span>
        @Html.ActionLink("Set Cookies", "CookiesSetCookie")
    </div>