<div id="displayed">
    Displayed element
</div>
<div id="non-displayed" style="display: none;">
    Non-displayed element
</div>
<div id="displayed-zero-draw-rec" style="width: 0px;height: 0px">
    Invisible element
</div>