
        <div>
            <iframe id="topframe" src="FrameTest2.aspx" frameborder="0"></iframe>
            <div id="top">
                <div id="child">child</div>
            </div>
        </div>