
<div id="outer-id">
    <div data-ui="outer-data-ui">
        <div id="middle-id">
            <span data-ui="inner-data-ui">
                <span id="inner-id"></span>
            </span>
        </div>
    </div>
</div>
  