
        <div id="a">
            <div data-ui="e">
                <div id="b">
                    <span data-ui="d">
                        <span id="c"></span>
                    </span>
                </div>
            </div>
        </div>
  