<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
        <add name="console"
            type="System.Diagnostics.ConsoleTraceListener"
            initializeData="false" />
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="cat.log" />
    </trace>
  </system.diagnostics>
</configuration>
