
@{
    ViewData["Title"] = "CssClasses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CssClasses</h2>

<div id="hasClasses" class="class1 class2        class3                  class4"></div>
<div id="hasNotClasses"></div>
<div id="emptyClasses" class=""></div>
