
        <div id="top">
            <div class="top-child">
                level 1
            </div>
            <div class="top-child">
                level 1
            </div>
            <div class="top-child" id="top-element">
                <div class="second-child">
                    level 2
                </div>
                <div class="second-child">
                    level 2
                </div>
                <div class="second-child">
                    <div class="third-child">
                        level 3
                    </div>
                    <div class="third-child">
                        level 3
                    </div>
                </div>
                <div class="second-child">
                    level 2
                </div>
            </div>
            <div class="top-child">
                level 1
            </div>
            <div class="top-child">
                level 1
            </div>
        </div>