<div id="full-selector">
    <div data-ui="innerDiv1">
        <p>
            a
        </p>
        <p>
            b
        </p>
        <p>
            c
        </p>
    </div>
</div>

<div id="full-selector-empty">
</div>