
<div>
    <a id="RelativeLink" href="/path/test?query=test#fragment"> test of href attribute</a>
    <a id="AbsoluteLink" href="https://www.google.com/path/test?query=test#fragment"> test of href attribute</a>
    <a id="AbsoluteSameSchema" href="//localhost:1234/path/test?query=test#fragment"> test of href attribute</a>
    <a id="AbsoluteLink2" href="https://www.google.com/path/test?query=test&query2=test2#fragment"> test of href attribute</a>
</div>