
<div id="htmlTest">
    <span></span>
</div>

<div>
    <input type="text" id="input-set" />
</div>

<div>
    <input type="text" id="input-get" value="input1" />
</div>

<div id="input-hidden" style="display: none">
    InnerText
</div>
