
        <div>
            <button id="button">Text</button>
            <input type="text" id="input" value="text" />
            <input type="text" id="empty-input" value="" />
            <textarea id="area">text</textarea>
            
            
        </div>

<div id="empty-div"></div>
<div id="div-text">text</div> 
