<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:chromedriver" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:firefoxDriver" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:ieDriver" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:phantomJSDriver" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:fastmode" value="true" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:LoggingPriorityMaximum" value="10" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:developermode" value="false" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:baseurl" value="http://localhost:5633/" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:RecordStoryBoard" value="false" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="selenium:StoryBoardingStorage" value="%tmp%\testUtils\storyboarding" />
  </appSettings>
</configuration>
