
<div>
    <div>
        <span id="message"></span>
        <input id="button" type="button" value="click" />
    </div>
    <script>
                function click(e) {
                    e.preventDefault();
                    var span = document.querySelector("message");
                    alert("confirm test");
                    return null;
                }
                document.getElementById("button").onclick = click;

    </script>
</div>