<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TemporarySelector.aspx.cs" Inherits="WebApplication1.TemporarySelector" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <p>p</p>
        <div id="id">id</div>
        <div data-ui="id">data</div>
    </form>
</body>
</html>
